@use "variables" as *;

@mixin tablet {
    @media (min-width: $tablet-breakpoint) {
        @content;
    }
};

@mixin desktop {
    @media (min-width: $desktop-breakpoint) {
        @content;
    }
};

@mixin header-mobile {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }
  
  @mixin subheader-mobile {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    
  }
  
  @mixin copy-mobile {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
  }
  
  @mixin labels-buttons-mobile {
    font-size: 10px;
    line-height: 20px;
    font-weight: 700;
  }
  @mixin site-padding-mobile {
    padding:0 16px;
      
  }
  
  @mixin component-padding-mobile{
    padding-bottom: 16px;
  }
  
  @mixin headline-padding-mobile{
    padding: 24px 0 16px;
  }
  
  @mixin page-header-tablet {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
  }
  
  @mixin section-header-tablet {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
  @mixin subheader-tablet {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
  @mixin body-copy-tablet {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
  @mixin footer-copy-tablet {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
  @mixin labels-buttons-tablet{
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
  }

  @mixin site-padding-tablet {
    padding:0 36px;
      
  }

  @mixin headline-padding-tablet {
    padding: 48px 0 36px 0
      
  }

  @mixin component-padding-tablet {
    padding-bottom:36px;
      
  }