@use "partials/mixins" as *;
@use "partials/colors" as *;
@use "partials/typography" as *;
@use "partials/variables" as *;

* {
  font-family: "Avenir";
  margin: 0;
  padding: 0;
}

.nav {
  padding-top: 1rem;
  background-color: $band-site-black;
  text-align: center;

  @include tablet {
    @include site-padding-tablet;
    display: flex;
    align-items: center;
  }

  @include desktop {
    @include site-desktop-padding;
  }

  &__logo {
    @include site-padding-mobile;
    padding-bottom: 0.5rem;
    width: 30%;
    max-width: 120px;
    max-height: 20px;

    @include tablet {
      width: 25%;
      padding: 0;
      padding-right: 3rem;
    }
  }

  &__list {
    display: flex;
    justify-content: space-around;
    padding: 0;

    @include tablet {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 30%;
    }
    @include desktop {
      width: 20%;
    }
  }
  &__section {
    list-style-type: none;
    width: 50%;
    height: 100%;
    padding-bottom: 8px;

    @include tablet {
      width: auto;
      padding: 1.5rem 0;
    }

    &--active {
      color: $white;
      border-bottom: $white solid 4px;

      box-sizing: border-box;
      @include desktop {
        width: 35%;
        padding: 2rem 0;
        border-bottom: $white solid 2px;
      }
    }
  }
  &__text {
    color: $silver;
    @include subheader-mobile;
    margin: 0;

    @include tablet {
      font-size: 1rem;
    }
    &--active {
      font-size: 1rem;
      font-weight: 400;
      color: $white;
    }
  }
}

.hero {
  background-image: url(../assets/images/hero-bio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 60vw;
  display: flex;
  align-items: center;
  position: relative;

  @include tablet {
    min-height: 60vw;
    background-position: bottom;
  }
  @include desktop {
    min-height: 48vw;
    background-position-y: -3.5rem;
  }

  &__overlay {
    z-index: 0;
    background: #323232;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &__header {
    z-index: 1;
    color: $white;
    @include site-padding-mobile;
    @include header-mobile;
    font-weight: 600;
    @include tablet {
      @include page-header-tablet;
      @include site-padding-tablet;
      font-weight: 600;
    }
    @include desktop {
      @include site-desktop-padding;
    }
  }
}

.about-us {
  @include site-padding-mobile;
  display: flex;
  flex-direction: column;

  @include tablet {
    @include site-padding-tablet;
  }
  @include desktop {
    @include site-desktop-padding;
  }

  &__header {
    @include headline-padding-mobile;
    font-weight: 600;

    @include tablet {
      @include headline-padding-tablet;
      @include section-header-tablet;
      font-weight: 600;
    }
    @include desktop {
      font-weight: 600;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
  }
  &__image {
    @include component-padding-mobile;
    max-width: 100%;
    aspect-ratio: 1.8;
    object-fit: cover;
    @include tablet {
      max-width: 80vw;
      margin: 0;
      @include site-padding-tablet;
      @include component-padding-tablet;
    }
    @include desktop {
      aspect-ratio: 1.9;
      max-width: 65vw;
      margin: auto;
      text-align: center;
    }
  }
  &__caption {
    @include subheader-mobile;
    @include component-padding-mobile;
    color: $band-site-black;

    @include tablet {
      @include site-padding-tablet;
      @include component-padding-tablet;
      font-size: 1rem;
    }
    @include desktop {
      width: 79%;

      padding-left: 0;
    }

    &--styling {
      padding-bottom: 0.5rem;
      @include tablet {
        padding-bottom: 1rem;
        @include subheader-tablet;
      }
      @include desktop {
        font-size: 22px;
      }
    }
  }
  &__sub-header {
    @include subheader-mobile;
    @include component-padding-mobile;
    color: $band-site-black;

    @include tablet {
      padding: 24px 36px;
      @include subheader-tablet;
    }
    @include desktop {
      padding-left: 0;
    }
  }
  &__text-container {
    margin: auto;
    width: 65vw;
  }
  &__container {
    @include tablet {
      @include site-padding-tablet;
      display: flex;
      justify-content: space-between;
    }
    @include desktop {
      margin: auto;
      width: 65vw;
    }
  }
  &__text {
    color: $band-site-black;
    @include copy-mobile;
    @include component-padding-mobile;

    @include tablet {
      @include body-copy-tablet;
      @include component-padding-tablet;
      width: 45%;
    }
    @include desktop {
      width: 49%;
    }
  }
}

.photo-gallery {
  @include site-padding-mobile;
  background-color: $alabaster;

  @include tablet {
    @include site-padding-tablet;
  }
  @include desktop {
    @include site-desktop-padding;
    padding-bottom: 1rem;
  }
  &__header {
    @include headline-padding-mobile;
    font-weight: 600;
    @include tablet {
      @include headline-padding-tablet;
      @include section-header-tablet;
      font-weight: 600;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  &__image {
    @include component-padding-mobile;
    @include tablet {
      width: 31%;
      padding-bottom: 1.5rem;
    }
    @include desktop {
      width: 32%;
    }
  }
}

.footer {
  background-color: $band-site-black;
  color: $white;

  @include site-padding-mobile;

  @include tablet {
    @include site-padding-tablet;
  }
  @include desktop {
    @include site-desktop-padding;
  }

  &__header {
    @include header-mobile;
    @include component-padding-mobile;
    padding-top: 24px;
    font-weight: 600;

    @include tablet {
      visibility: collapse;
      @include section-header-tablet;
      padding: 0 40% 0 0;
      font-weight: 600;
    }
  }
  &__mobile-icon-container {
    max-width: 40%;
    display: flex;
    justify-content: space-between;
    @include component-padding-mobile;
    @include tablet {
      display: none;
    }
  }

  &__icon-container {
    display: none;

    @include tablet {
      max-width: 60%;
      padding-bottom: 2.5rem;
      display: flex;
      justify-content: space-between;
    }
    @include desktop{
      max-width: 40%;
    }
  }
  &__tablet-logo {
    display: none;
    @include tablet {
      display: flex;
      visibility: visible;
      align-self: flex-end;
      padding-bottom: 2.5rem;
      max-width: 70%;
    }
  }
  &__icon {
    max-height: 2em;
  }
  &__card-container {
    @include tablet {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: flex-end;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet {
      width: 31%;
    }

    &--desktop-padding {
      @include desktop {
        width: 50%;
      }
    }
  }
  &__tablet-header {
    display: none;
    @include tablet {
      @include section-header-tablet;
      font-weight: 600;
      padding-bottom: 2rem;
      display: flex;
    }
  }
  &__subheader {
    @include footer-copy-tablet;
    color: $white;

    &--padding {
      @include component-padding-mobile;
    }
  }
  &__text {
    @include footer-copy-tablet;
    font-size: 14px;
    color: $mercury;
    &--address-padding {
      padding-bottom: 1rem;
    }
    &--email-padding {
      padding-bottom: 1.5rem;
      @include tablet {
        @include component-padding-tablet;
      }
    }
  }
  &__phone-logo {
    width: 40%;
    padding-top: 2.5rem;
    padding-bottom: 0.8rem;
    @include tablet {
      display: none;
    }
  }

  &__copyright {
    @include component-padding-mobile;
    font-size: 11px;
    color: $mercury;

    @include tablet {
      @include component-padding-tablet;
      @include footer-copy-tablet;
      font-weight: 400;
    }
  }
}
