@use "partials/mixins" as *;
@use "partials/colors" as *;
@use "partials/typography" as *;
@use "partials/variables" as *;
@use "partials/global" as *;

%container{
@include comment-width;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    width: 90%;
    @include tablet {
      width: 100%;
    }


}

// Hero Section

.hero {
  @include hero;
  background-image: url(../assets/images/hero-bio.jpg);
  background-position: center;
  min-height: 60vw;
  align-items: center;


  @include tablet {
    min-height: 60vw;
    background-position: bottom;
  }
  @include desktop {
    min-height: 48vw;
    background-position-y: -3.5rem;
  }

  @media (min-width: 1700px) {
    min-height: 850px;
  }

  &__overlay {
    @include overlay;
  }

  &__header {
    @include site-padding-mobile;
    @include header-mobile;
    z-index: 1;
    color: $primary-light;
    font-weight: 600;

    @media (min-width: 550px) {
      font-size: 2.5em;
    }
    @include tablet {
      @include page-header-tablet;
      @include site-padding-tablet;
      font-weight: 600;
    }
    @include desktop {
      @include site-padding-desktop;
    }
  }
}

// About Us

.about-us {
  @include site-padding-mobile;
  display: flex;
  flex-direction: column;

  @include tablet {
    @include site-padding-tablet;
  }
  @include desktop {
    @include site-padding-desktop;
  }

  &__header {
    @include headline-padding-mobile;
    font-weight: 600;

    @include tablet {
      @include headline-padding-tablet;
      @include section-header-tablet;
      font-weight: 600;
    }
    @include desktop {
      font-weight: 600;
    }
  }

  &__wrapper {
    @include tablet {
      @include comment-width;
      display: flex;
      flex-direction: column;
      margin: auto;
      
    }
  }

  &__image {
    padding-bottom: 0.5rem;
    width: 100%;
    height: 50vw;

    @include tablet {
      @include component-padding-tablet;
      height: 43vw;
      margin: 0;
    }
    @include desktop {
      height: 35vw;;
      margin: auto;
    }
    @media (min-width: 1700px) {
      width: 100%;
    }
  }

  &__caption {
    @include subheader-mobile;
    @include component-padding-mobile;
    color: $primary-dark;

    @include tablet {
      @include component-padding-tablet;
      font-size: 1rem;
    }
    @include desktop {
      width: 79%;
      padding-left: 0;
    }

    &--styling {
      padding-bottom: 0.5rem;

      @include tablet {
        @include subheader-tablet;
        padding-bottom: 1rem;
      }
      @include desktop {
        font-size: 22px;
      }
    }
  }

  &__sub-header {
    @include subheader-mobile;
    @include component-padding-mobile;
    color: $primary-dark;

    @include tablet {
      @include subheader-tablet;
    }
    @include desktop {
      padding-left: 0;
    }
  }

  &__caption-container {
    @include desktop {
      margin: auto;
      width: 65vw;
    }
  }

  &__text-container {
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
    @include desktop {
      margin: auto;
      width: 65vw;
    }
  }

  &__text {
    color: $primary-dark;
    @include copy-mobile;
    @include component-padding-mobile;

    @include tablet {
      @include body-copy-tablet;
      @include component-padding-tablet;
      width: 47%;
    }
    @include desktop {
      width: 49%;
    }
    @media (min-width: 1500px) {
      font-size: 1em;
      line-height: 1.6em;
    }
  }
}

//  Photo Gallery

.photo-gallery {
  @include site-padding-mobile;
  background-color: $secondary-light;

  @include tablet {
    @include site-padding-tablet;
    padding-bottom: 1rem;
  }
  @include desktop {
    @include site-padding-desktop;
    padding-bottom: 1rem;
  }

  &__header {
    @include headline-padding-mobile;
    font-weight: 600;

    @include tablet {
      @include headline-padding-tablet;
      @include section-header-tablet;
      font-weight: 600;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__image {
    @include component-padding-mobile;

    @include tablet {
      filter: grayscale(100%);
      width: 31%;
      padding-bottom: 1.5rem;
    }
    @include desktop {
      width: 32%;
    }
    &:hover {
      filter: grayscale(0%);
    }
  }
}

// Comment Section

.comments {
  @include site-padding-mobile;
  @include component-padding-mobile;

  @include tablet {
    @include site-padding-tablet;
    @include component-padding-tablet;
  }
  @include desktop{
   @include site-padding-desktop   
  }

  &__title {
    @include component-padding-mobile;
    padding-top: .5rem;
    font-weight: 600;

    @include tablet{
      @include section-header-tablet;
      @include component-padding-tablet;
      padding-top: 3rem;
      font-weight: 600;
    }
    
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid $secondary-neutral;

    @include tablet {
      @include comment-width;
      margin: auto;
    }
    @include desktop {
      width: 47%;
    }
  }
 
  &__image {
    background-color: $secondary-neutral;
    background-size: cover;
    height: 36px;
    width: 36px;
    border-radius: 50%;

    @include tablet{
      margin-right: .75rem;
    }
    
    &--posted {
      background-color: none;
      background-image: url(/assets/images/Mohan-muruge.jpg);
      margin-top: 1.5rem;
    }
    
  }

 

  &__form {
    @extend %container;
  }
  &__label {
    @include labels-buttons-mobile;
    color: $primary-neutral;
    font-weight: 400;
  }

  &__input {
    outline: none;
    box-sizing: border-box;
    min-height: 36px;
    margin-bottom: 1rem;
    background-color: $secondary-light;
    padding: 12px;
    border: 1px $secondary-neutral solid;
    border-radius: 4px;

    @include tablet{
      min-height: 48px;
      padding: 1rem;
    }

    &--large {
      min-height: 25vw;
      resize: none;
      @include tablet{
        min-height: 10vw;
      }
    }
    &--empty{
      border: 1px  #D22D2D solid;
    }
    &:focus{
      border: 1px $primary-dark solid;
    }
    &::placeholder{
      color: $primary-dark;
    }
  }
  &__button {
    @include button;
    @include tablet {
      align-self: flex-end;
      margin-bottom: 1rem;
      
    }
    &:hover{
      @include button-hover;
    }
  }
  &__reverse-wrapper{
    display: flex;
    flex-direction: column-reverse;
    
  }
  &__post {
    @include component-padding-mobile;
    display: flex;
    justify-content: space-between;
    // align-items: flex-start;
    width: 100%;
    padding-top: 1rem;
    border-bottom: 1px solid $secondary-neutral;

    @include tablet {
      @include comment-width;
      margin: auto;
      
    }

    @include desktop{
      width: 47%
    }
  }

  &__container {
    @extend %container;
  }
  
  &__info-wrapper {
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__name {
    @include subheader-mobile;
  }
  &__date {
    @include copy-mobile;
    color: $primary-neutral;
  }
  &__comment {
    @include copy-mobile;
  }
}
