@use "partials/mixins" as *;
@use "partials/colors" as *;
@use "partials/typography" as *;
@use "partials/variables" as *;
@use "partials/global" as *;


%shows-card-properties{
  @include site-padding-mobile;
    padding-top: 1rem;
    border-bottom: 1px solid $secondary-neutral;
    @include tablet {
      padding: 0;
      margin: 0 2.25rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    @include desktop {
      padding: 0;
    }
}

.hero {
  @include hero;
  @include site-padding-mobile;
  background-image: url(/assets/images/hero-shows.jpg);
  justify-content: center;
  flex-direction: column;
 

  @include tablet {
    @include site-padding-tablet;
    min-height: 50vw;
    background-position-y: -6rem;
  }
  @include desktop {
    @include site-padding-desktop;
    min-height: 43vw;
    flex-direction: row;
    align-items: center;
    vertical-align: bottom;
  }

  &__overlay {
    @include overlay;
  }

  &__container {
    z-index: 1;
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    @include desktop{
      display: none
    }

  }

  &__desktop-container{
    display: none;
    @extend .hero__container;

    @include desktop{
      height: 20%;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }

    
  }
  &__desktop-wrapper{

    @include desktop{
     display: flex;
     flex-direction: column
    }
    @include large-desktop{
      width: 85%
    }
  }

  &__title {
    @include subheader-mobile;
    padding: 1.5rem 0 1rem;
    color: $primary-light;
    font-weight: 400;
    @include tablet {
      @include subheader-tablet;
      font-weight: 400;
    }
  }
  &__header {
    @include header-mobile;
    font-size: 1.6rem;
    font-weight: 600;
    color: $primary-light;

    @include tablet {
      @include page-header-tablet;
      font-weight: 600;
    }
    @include desktop {
      display: none;
    }
    &--desktop {
      display: none;
      @include desktop {
        display: flex;
      }
      @include large-desktop{
        font-size: 7rem;
        line-height: 1.2;
      }
      
    }

  }

  &__player {
    margin: 1rem 0 2rem;
    z-index: 1;
    height: 7rem;
    border: none;

    @include tablet {
      @include component-padding-tablet;
      margin-top: 4%;
      width: 57%;
      height: 30%;
    }
    @include desktop {
      display: none;
      margin: 0;
      padding: 0;
      height: 20%;
      width: 45%;
      margin-top: 3.75rem;
    }

    &--desktop{
      display: none;
      @extend .hero__player;
      @include desktop {
        display: flex;
        max-width: 30rem;
        margin: 0;
      }
      @include large-desktop{
        max-width: 80rem;
        padding-left: 10%;
      }
    }
  }
}
.shows {
  @include component-padding-mobile;
  @include tablet {
    @include component-padding-tablet;
  }
  @include desktop {
    @include site-padding-desktop;
    @include component-padding-tablet;
    display: flex;
    justify-content: space-between;
  }
  &__title {
    @include header-mobile;
    @include site-padding-mobile;
    @include component-padding-mobile;
    font-weight: 600;
    padding-top: 2rem;

    @include tablet {
      @include section-header-tablet;
      @include site-padding-tablet;
      @include component-padding-tablet;
      font-weight: 600;
      padding-top: 2.25rem;
    }

    @include desktop {
      padding: 2.25rem 0 0;
    }
  }
  &__wrapper {
    @include desktop {
      width: 75%;
      padding: 2.25rem 0 0;
    }
  }

  &__header-container{
    
    @extend %shows-card-properties;

    &--divider{
      border: none;
    }
    &--hidden{
      display: none;

      @include tablet{
       display: flex
      }
    }
    
  }
                            
  &__card {
    @extend %shows-card-properties;
    &:hover{
      background-color: $secondary-light;
    }

    &--active{
      background-color: $secondary-neutral;
      &:hover{
        background-color: $secondary-neutral;
      }
    }
    
  }

  &__item {
    @include tablet {
      width: 33%;
    }
    &--desktop-padding {
      @include desktop {
        width: 50%;
      }
    }
    &--button-end {
      display: flex;
      justify-content: flex-end;
    }
   
  }
  &__header {
    font-weight: 600;
    color: $primary-neutral;
    padding-bottom: 0.5rem;
    @include desktop {
      padding: 1.4rem 0 0;
    }

    &--hidden {
      @include tablet {
        display: none;
      }
    }
  }
  &__text {
    @include component-padding-mobile;
    @include tablet {
      padding: 2.25rem 0;
    }
    &--date {
      font-weight: 600;
      @include desktop {
        padding: 2.25rem 0;
      }
    }
  }
  &__button {
    @include button;

    @include tablet {
      min-width: 150px;
      width: 20%;
    }
    
    &--center {
      margin-top: 1rem;
    }
    &:hover{
      @include button-hover;
    }
  }
}
