@font-face {
  font-family: "Avenir";
  src: url(/assets/fonts/AvenirNextLTPro.ttf);
  src: url(/assets/fonts/AvenirNextLTPro-Regular.otf);
}
@font-face {
  font-family: "Avenir";
  src: url(/assets/fonts/AvenirNextLTProDemi.ttf);
  src: url(/assets/fonts/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url(/assets/fonts/AvenirNextLTProBold.ttf);
  src: url(/assets/fonts/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
* {
  font-family: "Avenir", sans-serif;
  margin: 0;
  padding: 0;
}

.footer__phone-logo, .footer__tablet-logo, .nav__logo {
  min-height: 20px;
  min-width: 120px;
}

.footer__icon-container, .footer__mobile-icon-container {
  max-width: 8rem;
  display: flex;
  justify-content: space-between;
}

.nav {
  padding-top: 1rem;
  background-color: #323232;
  text-align: center;
}
@media (min-width: 768px) {
  .nav {
    padding: 0 2.5rem;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .nav {
    padding: 0 8rem;
  }
}
@media (min-width: 768px) {
  .nav__home-link {
    margin-right: 3rem;
  }
}
.nav__logo {
  padding: 0 1rem;
  padding-bottom: 0.5rem;
  width: 30%;
}
@media (min-width: 768px) {
  .nav__logo {
    width: 25%;
    padding: 0;
    margin-bottom: -4px;
  }
}
@media (min-width: 768px) {
  .nav__logo {
    margin-bottom: -2px;
  }
}
.nav__list {
  display: flex;
  padding: 0;
  width: auto;
}
@media (min-width: 768px) {
  .nav__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
  }
}
@media (min-width: 1280px) {
  .nav__list {
    width: 20%;
  }
}
.nav__link {
  text-decoration: none;
}
.nav__section {
  list-style-type: none;
  width: 50%;
  height: 100%;
  padding-bottom: 0.8rem;
  border-bottom: transparent solid 4px;
}
.nav__section:hover {
  color: #FFFFFF;
  border-bottom: #FFFFFF solid 3px;
}
@media (min-width: 768px) {
  .nav__section {
    width: auto;
    padding: 1.5rem 0;
  }
}
@media (min-width: 1280px) {
  .nav__section {
    padding: 2rem 0;
    border-bottom: transparent solid 3px;
  }
  .nav__section:hover {
    color: #FFFFFF;
    border-bottom: #FFFFFF solid 3px;
  }
}
.nav__section--active {
  color: #FFFFFF;
  border-bottom: #FFFFFF solid 3px;
  box-sizing: border-box;
}
@media (min-width: 1280px) {
  .nav__section--active {
    width: auto;
    padding: 2rem 0;
    border-bottom: #FFFFFF solid 3px;
  }
}
.nav__text {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  color: #AFAFAF;
  padding-bottom: 0.2rem;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .nav__text {
    font-size: 1rem;
    font-weight: 400;
  }
}
.nav__text--active {
  font-size: 1rem;
  color: #FFFFFF;
}

.footer {
  padding: 0 1rem;
  background-color: #323232;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .footer {
    padding: 0 2.5rem;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 0 8rem;
  }
}
.footer__header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-bottom: 1rem;
  padding-top: 1.5rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .footer__header {
    font-size: 2.25rem;
    line-height: 44px;
    font-weight: 700;
    visibility: collapse;
    padding: 0 40% 0 0;
    font-weight: 600;
  }
}
.footer__mobile-icon-container {
  padding-bottom: 1.2rem;
}
@media (min-width: 768px) {
  .footer__mobile-icon-container {
    display: none;
  }
}
.footer__icon-container {
  display: none;
}
@media (min-width: 768px) {
  .footer__icon-container {
    display: flex;
    padding-bottom: 2.5rem;
  }
}
.footer__tablet-logo {
  display: none;
}
@media (min-width: 768px) {
  .footer__tablet-logo {
    display: flex;
    visibility: visible;
    align-self: flex-end;
    padding-bottom: 2.5rem;
  }
}
.footer__icon {
  max-height: 2em;
}
.footer__icon:hover {
  color: #FFFFFF;
  padding-bottom: 2px;
  margin-bottom: -4px;
  border-bottom: #FFFFFF solid 2px;
}
@media (min-width: 768px) {
  .footer__card-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
  }
}
.footer__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .footer__card {
    width: 31%;
  }
}
@media (min-width: 1280px) {
  .footer__card--desktop-padding {
    width: 60%;
  }
}
@media (min-width: 1600px) {
  .footer__card--desktop-padding {
    width: 70%;
  }
}
@media (min-width: 1800px) {
  .footer__card--desktop-padding {
    width: 90%;
  }
}
.footer__tablet-header {
  display: none;
}
@media (min-width: 768px) {
  .footer__tablet-header {
    font-size: 2.25rem;
    line-height: 44px;
    font-weight: 700;
    font-weight: 600;
    padding-bottom: 2rem;
    display: flex;
  }
}
.footer__subheader {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #FFFFFF;
}
.footer__subheader--padding {
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer__subheader--padding {
    padding-bottom: 1.5rem;
  }
}
.footer__text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-size: 14px;
  color: #E1E1E1;
}
.footer__text--address-padding {
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer__text--address-padding {
    padding-bottom: 1.5rem;
  }
}
.footer__text--email-styling {
  margin-bottom: 1.5rem;
  text-decoration: none;
}
@media (min-width: 768px) {
  .footer__text--email-styling {
    margin-bottom: 2.5rem;
  }
}
.footer__text--email-styling:hover {
  color: #FFFFFF;
  text-decoration: underline;
}
.footer__phone-logo {
  padding-top: 2.5rem;
  padding-bottom: 0.8rem;
}
@media (min-width: 768px) {
  .footer__phone-logo {
    display: none;
  }
}
.footer__copyright {
  padding-bottom: 1rem;
  font-size: 11px;
  color: #E1E1E1;
}
@media (min-width: 768px) {
  .footer__copyright {
    padding-bottom: 2.25rem;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-weight: 400;
  }
}

.shows__card, .shows__header-container {
  padding: 0 1rem;
  border-bottom: 1px solid #E1E1E1;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .shows__card, .shows__header-container {
    box-sizing: border-box;
    padding: 24px 36px;
    margin: 0 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .shows__card, .shows__header-container {
    padding: 24px 18px;
  }
}

.hero {
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  padding: 0 1rem;
  background-image: url(/assets/images/hero-shows.jpg);
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  .hero {
    min-height: 60vw;
  }
}
@media (min-width: 1280px) {
  .hero {
    min-height: 48vw;
  }
}
@media (min-width: 1700px) {
  .hero {
    min-height: 850px;
  }
}
@media (min-width: 768px) {
  .hero {
    padding: 0 2.5rem;
    min-height: 50vw;
    background-position-y: -6rem;
  }
}
@media (min-width: 1280px) {
  .hero {
    padding: 0 8rem;
    min-height: 43vw;
    flex-direction: row;
    align-items: center;
    vertical-align: bottom;
  }
}
.hero__overlay {
  z-index: 0;
  background: #323232;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.hero__container, .hero__desktop-container {
  z-index: 1;
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 1280px) {
  .hero__container, .hero__desktop-container {
    display: none;
  }
}
.hero__desktop-container {
  display: none;
}
@media (min-width: 1280px) {
  .hero__desktop-container {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}
@media (min-width: 1280px) {
  .hero__desktop-wrapper {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1700px) {
  .hero__desktop-wrapper {
    width: 85%;
  }
}
.hero__title {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  padding: 1.5rem 0 1rem;
  color: #FFFFFF;
  font-weight: 400;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    font-weight: 400;
  }
}
.hero__header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  font-size: 1.6rem;
  font-weight: 600;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .hero__header {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    font-weight: 600;
  }
}
@media (min-width: 1280px) {
  .hero__header {
    display: none;
  }
}
.hero__header--desktop {
  display: none;
}
@media (min-width: 1280px) {
  .hero__header--desktop {
    display: flex;
  }
}
@media (min-width: 1700px) {
  .hero__header--desktop {
    font-size: 7rem;
    line-height: 1.2;
  }
}
.hero__player, .hero__player--desktop {
  margin: 1rem 0 2rem;
  z-index: 1;
  height: 7rem;
  border: none;
}
@media (min-width: 768px) {
  .hero__player, .hero__player--desktop {
    padding-bottom: 2.25rem;
    margin-top: 4%;
    width: 57%;
    height: 30%;
  }
}
@media (min-width: 1280px) {
  .hero__player, .hero__player--desktop {
    display: none;
    margin: 0;
    padding: 0;
    height: 20%;
    width: 45%;
    margin-top: 3.75rem;
  }
}
.hero__player--desktop {
  display: none;
}
@media (min-width: 1280px) {
  .hero__player--desktop {
    display: flex;
    max-width: 30rem;
    margin: 0;
  }
}
@media (min-width: 1700px) {
  .hero__player--desktop {
    max-width: 80rem;
    padding-left: 10%;
  }
}

.shows {
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .shows {
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .shows {
    padding: 0 8rem;
    padding-bottom: 2.25rem;
    display: flex;
    justify-content: space-between;
  }
}
.shows__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding: 0 1rem;
  padding-bottom: 1rem;
  font-weight: 600;
  padding-top: 2rem;
}
@media (min-width: 768px) {
  .shows__title {
    font-size: 2.25rem;
    line-height: 44px;
    font-weight: 700;
    padding: 0 2.5rem;
    padding-bottom: 2.25rem;
    font-weight: 600;
    padding-top: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .shows__title {
    padding: 2.25rem 0 0;
  }
}
@media (min-width: 1280px) {
  .shows__wrapper {
    width: 80%;
    padding: 2.25rem 0 0;
  }
}
@media (min-width: 768px) {
  .shows__header-container {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.shows__header-container--divider {
  border: none;
}
.shows__header-container--hidden {
  display: none;
}
@media (min-width: 768px) {
  .shows__header-container--hidden {
    display: flex;
  }
}
.shows__card:hover {
  background-color: #FAFAFA;
}
.shows__card--active {
  background-color: #E1E1E1;
}
.shows__card--active:hover {
  background-color: #E1E1E1;
}
@media (min-width: 768px) {
  .shows__item {
    width: 33%;
  }
}
@media (min-width: 1280px) {
  .shows__item--desktop-padding {
    width: 50%;
  }
}
.shows__item--button-end {
  display: flex;
  justify-content: flex-end;
}
.shows__header {
  font-weight: 600;
  color: #AFAFAF;
  padding-bottom: 0.5rem;
}
@media (min-width: 1280px) {
  .shows__header {
    padding: 1.4rem 0 0;
  }
}
@media (min-width: 768px) {
  .shows__header--hidden {
    display: none;
  }
}
.shows__text {
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .shows__text {
    padding: 0;
  }
}
.shows__text--date {
  font-weight: 600;
}
.shows__button {
  cursor: pointer;
  margin-bottom: 1rem;
  width: 100%;
  height: 2.5rem;
  background-color: #323232;
  color: #FFFFFF;
  border-radius: 4px;
  border: 0;
}
@media (min-width: 768px) {
  .shows__button {
    min-width: 150px;
    width: 20%;
    margin: 0;
  }
}
@media (min-width: 768px) {
  .shows__button {
    min-width: 150px;
    width: 20%;
  }
}
.shows__button--center {
  margin-top: 1rem;
}
.shows__button:hover {
  background-color: #000000;
}/*# sourceMappingURL=shows.css.map */